a.added_to_cart.wc-forward {
    display: none;
}

li.product {
    display: block;
}
li.product .product-thumb {
    position: relative;
    overflow: hidden;
}
li.product .product-thumb .woocommerce-loop-product__link {
    display: block;
    height: 0;
    padding-top: 108%;
    position: relative;
}
li.product .product-thumb .woocommerce-loop-product__link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
li.product .product-thumb .woocommerce-loop-product__link img + img {
    transform: scale(1.08);
    transition: opacity .3s, transform .3s;
    opacity: 0;
}
li.product:hover .product-thumb .woocommerce-loop-product__link img + img {
    transform: none;
    opacity: 1;
}
.iu-woocommerce-badges {
    position: absolute;
    top: .9rem;
    right: .9rem;
    display: flex;
    gap: .3rem;
}
.iu-woocommerce-badge {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    background: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--white);
    display: block;
    padding: .3rem .9rem;
    border-radius: .3rem;
}
.iu-woocommerce-badge.featured {
    background: var(--iu-text-color);
}
.iu-woocommerce-badge.onsale {
    background: var(--wp--preset--color--primary);
}

.woocommerce-product-gallery {
    display: flex;
    gap: 1rem;
}
.woocommerce-product-gallery .flex-viewport {
    flex: 1;
    overflow: hidden;
    border-radius: .6rem;
}
.woocommerce-product-gallery__image a {
    display: block;
    height: 0;
    padding-top: 108%;
    position: relative;
}
.woocommerce-product-gallery__image a img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.woocommerce-product-gallery .flex-control-nav {
    width: 18%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.woocommerce-product-gallery .flex-control-nav li {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(25% - .75rem);
    position: relative;
    cursor: pointer;
}
.woocommerce-product-gallery .flex-control-nav li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .6rem;
}
.woocommerce-product-gallery .flex-control-nav li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    pointer-events: none;
    border: .3rem solid transparent;
    border-radius: .54rem;
    transition: border-color .3s;
    pointer-events: none;

}
.woocommerce-product-gallery .flex-control-nav li:has(img.flex-active):after {
    border-color: var(--wp--preset--color--primary);
}

.iu-woocommerce-add-to-cart {
    display: flex;
    align-items: center;
    gap: var(--iu-group-gap);
}

:where(.iu-woocommerce-add-to-cart, td.product-quantity) .quantity {
    border: 1px solid var(--iu-text-color);
    border-radius: 3rem;
    display: inline-flex;
}
:where(.iu-woocommerce-add-to-cart, td.product-quantity) .quantity .iu-woocommerce-quantity-control {
    padding: 1rem 1.5rem;
    user-select: none;
    cursor: pointer;
    color: var(--iu-text-color);
}
:where(.iu-woocommerce-add-to-cart, td.product-quantity) .quantity .iu-woocommerce-quantity-control:hover {
    color: var(--wp--preset--color--primary);
    text-decoration: none;
}
:where(.iu-woocommerce-add-to-cart, td.product-quantity) .quantity input::-webkit-outer-spin-button, .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
:where(.iu-woocommerce-add-to-cart, td.product-quantity) .quantity input {
    font-family: var(--iu-text-font-family);
    font-size: var(--iu-text-font-size);
    -moz-appearance: textfield;
    border: none;
    text-align: center;
    width: 3rem;
    padding: 1rem;
    line-height: 1;
}
:where(.iu-woocommerce-add-to-cart, td.product-quantity) .quantity input:focus {
    outline-color: var(--wp--preset--color--primary);
}

.iu-woocommerce-add-to-cart .iu-button.loading {
    opacity: .6;
    pointer-events: none;
}

.woocommerce[class*=columns] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.woocommerce[class*=columns] > * {
    width: 100%;
}
.woocommerce[class*=columns] > .woocommerce-result-count, .woocommerce[class*=columns] > .woocommerce-ordering {
    width: unset;
}
.woocommerce[class*=columns] > .woocommerce-ordering select {
    font-family: var(--iu-text-font-family);
    font-size: var(--iu-text-font-size);
    color: var(--iu-text-color);
    padding: .6rem 2.1rem .6rem 1rem;
    border: 1px solid var(--wp--preset--color--dark);
    border-radius: 1.8rem;
    position: relative;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27292.4%27%20height%3D%27292.4%27%3E%3Cpath%20fill%3D%27%23333333%27%20d%3D%27M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%27%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: .45rem auto;
    background-position: right 1rem center;
    outline: none;
}
.woocommerce[class*=columns] > * {
    transition: opacity .3s;
}
.woocommerce[class*=columns].loading > * {
    opacity: .3;
    position: relative;
    positer-events: none;
}
.woocommerce[class*=columns].loading:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title xmlns="">ring-resize</title><g stroke="currentColor"><circle cx="12" cy="12" r="9.5" fill="none" stroke-linecap="round" stroke-width="3"><animate attributeName="stroke-dasharray" calcMode="spline" dur="1.5s" keySplines="0.42,0,0.58,1;0.42,0,0.58,1;0.42,0,0.58,1" keyTimes="0;0.475;0.95;1" repeatCount="indefinite" values="0 150;42 150;42 150;42 150"/><animate attributeName="stroke-dashoffset" calcMode="spline" dur="1.5s" keySplines="0.42,0,0.58,1;0.42,0,0.58,1;0.42,0,0.58,1" keyTimes="0;0.475;0.95;1" repeatCount="indefinite" values="0;-16;-59;-59"/></circle><animateTransform attributeName="transform" dur="2s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/></g></svg>');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
}
.woocommerce > .products {
    padding: 0;
    margin: 1.5rem 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--iu-column-gap) * 2) var(--iu-column-gap);
}
.woocommerce > .products > .product {
    display: block;
}
.woocommerce > .products.columns-2 > .product {
    width: calc((100% - (var(--iu-column-gap))) / 2);
}
.woocommerce > .products.columns-3 > .product {
    width: calc((100% - (var(--iu-column-gap) * 2)) / 3);
}
.woocommerce > .products.columns-4 > .product {
    width: calc((100% - (var(--iu-column-gap) * 3)) / 4);
}
.woocommerce-pagination .page-numbers {
    padding: 0;
    margin: 2.1rem 0 0;
    display: flex;
    justify-content: center;
    gap: .3rem;
}
.woocommerce-pagination .page-numbers li {
    display: block;
}
.woocommerce-pagination .page-numbers li a, .woocommerce-pagination .page-numbers li span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
    height: 2.7rem;
    color: var(--wp--preset--color--dark);
    border: 1px solid var(--wp--preset--color--dark);
    border-radius: 50%;
    transition: color .3s, background .3s;
}
.woocommerce-pagination .page-numbers li span, .woocommerce-pagination .page-numbers li a:hover {
    background: var(--wp--preset--color--dark);
    color: var(--wp--preset--color--white);
}
.iu-woocommerce-no-products-found {
    text-align: center;
    padding: 3rem 0;
}

.iu-woocommerce-price p {
    font-family: var(--iu-heading-font-family);
    font-size: var(--iu-heading-3-font-size);
    margin: 1.8rem 0;
}

.stock {
    margin-top: 1.5rem;
}
.stock.out-of-stock {
    color: darkred;
}

.screen-reader-text {
    display: none !important;
}

.iu-woocommerce-cart .woocommerce {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.1rem;
    margin-bottom: 2.1rem;
}

.woocommerce .iu-button.iu-button-default,
.woocommerce .iu-button.iu-button-default:hover {
    border-color: var(--wp--preset--color--dark);
}
.woocommerce .iu-button.iu-button-default[disabled]:hover {
    background: var(--wp--preset--color--dark);
    color: var(--wp--preset--color--white);
}
.woocommerce .iu-button.iu-button-default:not([disabled]) {
    cursor: pointer;
}

.woocommerce-notices-wrapper {
    width: 100%;
}
.woocommerce-notices-wrapper:empty {
    display: none;
}
.woocommerce-notices-wrapper .woocommerce-message {
    padding: 1.2rem 1.8rem;
    background: #ebf4f6;
}
.woocommerce-notices-wrapper .woocommerce-error {
    padding: 1.2rem 1.8rem;
    background: #ebf4f6;
}
.woocommerce-notices-wrapper .woocommerce-error li {
    display: block;
}
.woocommerce-cart-form {
    flex: 2.4;
    display: inline-block;
}
.woocommerce-cart-form table {
    width: 100%;
    border: 1px solid var(--iu-text-color);
    border-radius: 1rem;
}
.woocommerce-cart-form thead th {
    border-bottom: 1px solid var(--iu-text-color);
    text-align: left;
    padding: 1.5rem .6rem;
}
.woocommerce-cart-form tbody td {
    padding: 1rem .6rem;
}
.woocommerce-cart-form thead th:first-child,
.woocommerce-cart-form tbody td:first-child {
    padding-left: 2.1rem;
}
.woocommerce-cart-form thead th:last-child,
.woocommerce-cart-form tbody td:last-child {
    padding-right: 2.1rem;
}
.woocommerce-cart-form tbody tr:not(:last-child) td {
    border-bottom: 1px solid var(--iu-text-color);
}
.woocommerce-cart-form tbody td.product-thumbnail {
    width: 9.1rem;
}
.woocommerce-cart-form tbody td.product-name {
    width: 33%;
}
.woocommerce-cart-form tbody td.product-name a {
    font-family: var(--iu-heading-font-family);
    font-size: var(--iu-heading-5-font-size);
    color: var(--wp--preset--color--secondary);
}
.woocommerce-cart-form .cart_item .product-remove {
    padding-left: .9rem;
    padding-right: .9rem;
}
.woocommerce-cart-form .cart_item .product-remove a {
    color: darkred;
}
.woocommerce-cart-form .product-thumbnail img {
    width: 6rem;
    height: 6.6rem;
    object-fit: cover;
    object-position: center;
    border-radius: .6rem;
}
.woocommerce-Price-amount,
.woocommerce-Price-amount {
    font-family: var(--iu-heading-font-family);
    font-size: var(--iu-heading-5-font-size);
    position: relative;
    top: -.1rem;
}
.woocommerce-cart-form .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .9rem;
}

.woocommerce .coupon {
    display: flex;
    align-items: center;
    gap: .6rem;
}
.woocommerce .coupon input {
    font-family: var(--iu-text-font-family);
    font-size: var(--iu-text-font-size);
    padding: .9rem 2.1rem;
    flex: 3;
    margin: 0;
    border: 1px solid var(--iu-text-color);
    border-radius: 3rem;
    outline: none;
}
.woocommerce .coupon .iu-button {
    margin: 0;
    flex: 1;
    cursor: pointer;
}

.cart-collaterals {
    flex: 1;
    display: inline-block;
    align-self: flex-start;
    border: 1px solid var(--iu-text-color);
    border-radius: 1rem;
    padding: 1.2rem 2.1rem 2.1rem;
}
.cart-collaterals h2 {
    margin: 0 0 1.5rem;
    font-size: var(--iu-heading-3-font-size);
}
.cart-collaterals table {
    width: 100%;
}
.cart-collaterals th, .cart-collaterals td {
    padding: 1.2rem 0;
    text-align: left;
    vertical-align: middle;
}
.cart-collaterals th:last-child, .cart-collaterals td:last-child {
    text-align: right;
}
.cart-collaterals .cart-subtotal > * {
    border-bottom: 1px solid var(--iu-text-color);
}
.cart-collaterals .order-total > * {
    border-bottom: 1px solid var(--iu-text-color);
}
.cart-collaterals .order-total strong {
    font-weight: bold;
}
.cart-collaterals .woocommerce-shipping-methods {
    padding: 0;
    margin: 0;
}
.cart-collaterals .woocommerce-shipping-methods li {
    display: block;
}
.cart-collaterals .woocommerce-shipping-destination {
    margin: 0;
}
.cart-collaterals .iu-button-highlight {
    width: 100%;
    margin-top: 2.1rem;
}

.woocommerce-checkout {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2.1rem;
}
.woocommerce-checkout h3 {
    margin-top: 0;
}

#ship-to-different-address {
    margin-top: 3rem;
    margin-bottom: 0;
}
#ship-to-different-address + .shipping_address {
    padding-top: 1.5rem;
}


.woocommerce input[type=checkbox],
.woocommerce input[type=radio] {
    accent-color: var(--wp--preset--color--primary);
    margin: 0;
    width: 1.2rem;
    height: 1.2rem;
}

.iu-woocommerce-coupon-form, .woocommerce-form-login-toggle {
    background: var(--wp--preset--color--light);
    border-radius: .6rem;
    padding: 1.2rem 2.1rem;
    margin-bottom: 2.1rem;
}
.woocommerce-form-login-toggle {
    margin-bottom: .6rem;
}
.iu-woocommerce-checkout .woocommerce-form-login {
    display: block !important;
    border: none;
    padding: 0;
}
#loginModal .iu-modal-dialog {
    max-width: 30rem;
}
.woocommerce-checkout .woocommerce-NoticeGroup {
    width: 100%;
}
.woocommerce-checkout .woocommerce-NoticeGroup .woocommerce-error {
    display: none;
}
#customer_details {
    flex: 3;
    border: 1px solid var(--iu-text-color);
    border-radius: 1rem;
    padding: 2.1rem;
}
.woocommerce-billing-fields__field-wrapper, .woocommerce-shipping-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
:where(.woocommerce-billing-fields__field-wrapper, .woocommerce-shipping-fields__field-wrapper) p.form-row {
    width: calc(50% - .5rem);
}
.iu-woocommerce-checkout .iu-form-text input,
.iu-woocommerce-checkout .iu-form-textarea textarea {
    width: 100%;
    display: block;
    font-family: var(--iu-text-font-family);
    font-size: var(--iu-text-font-size);
}
#billing_country_field, #shipping_country_field {
    width: 100%;
}
#billing_address_2_field, #shipping_address_2_field {
    padding-top: 1.5rem;
}

.woocommerce-account-fields {
    margin-top: 1.8rem;
}

.select2-container--default .select2-selection--single {
    border-color: var(--iu-text-color);
    border-radius: 1.8rem;
    padding: .9rem 1.5rem;
    height: unset;
    outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.14;
    padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
.select2-dropdown {
    border-color: var(--iu-text-color);
    border-radius: 1.2rem;
    overflow: hidden;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 1.5rem;
    border-color: var(--iu-text-color);
    padding: .6rem 1rem;
    outline: none;
}
.select2-results__option {
    outline: none;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {
    background: var(--wp--preset--color--light);
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background: var(--wp--preset--color--secondary);
}

#customer_details label {
    display: block;
    margin-bottom: .15rem;
}
#customer_details .woocommerce-input-wrapper {
    display: block;
}
#customer_details p.form-row {
    margin: 0;
}
.checkout-inline-error-message {
    color: darkred;
    font-size: .93rem;
    display: block;
    margin-top: .15rem;
}

.woocommerce-additional-fields {
    margin-top: 3rem;
}


.order-review {
    flex: 2;
    border: 1px solid var(--iu-text-color);
    border-radius: 1rem;
    padding: 2.1rem;
}
#customer_details .woocommerce-form__label-for-checkbox {
    display: flex;
    gap: .6rem;
    align-items: center;
}
.woocommerce-checkout-review-order-table {
    width: 100%;
    border-collapse: collapse;
}
.woocommerce-checkout-review-order-table .cart_item th, .woocommerce-checkout-review-order-table .cart_item td {
    padding: .3rem 0;
}
.woocommerce-checkout-review-order-table tr th:last-child, .woocommerce-checkout-review-order-table tr td:last-child {
    text-align: right;
}
.woocommerce-checkout-review-order-table tr th:first-child, .woocommerce-checkout-review-order-table tr td:first-child {
    text-align: left;
}
.woocommerce-checkout-review-order-table .cart_item:last-child > * {
    padding-bottom: 1.2rem;
}
.woocommerce-checkout-review-order-table tfoot tr > * {
    border-top: 1px solid var(--iu-text-color);
    border-bottom: 1px solid var(--iu-text-color);
    padding: .9rem 0;
}
.woocommerce-checkout-review-order-table tr.shipping > * {
    vertical-align: top;
}
.woocommerce-checkout-review-order-table .woocommerce-shipping-methods {
    margin: .6rem 0;
    padding: 0;
}
.woocommerce-checkout-review-order-table .woocommerce-shipping-methods li {
    display: flex;
    gap: .3rem;
    align-items: center;
}
.woocommerce-checkout-review-order-table .woocommerce-shipping-methods li label {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.woocommerce-checkout-review-order-table .order-total td:last-child {
    font-weight: bold;
}
.order-review .wc_payment_methods {
    display: flex;
    flex-direction: column;
    margin: 2.1rem 0 1.5rem;
    padding: 0;
}
.order-review .wc_payment_methods li {
    display: block;
}
.order-review .wc_payment_methods .payment_head {
    display: flex;
    align-items: center;
    gap: .6rem;
}
.order-review .wc_payment_methods .payment_head label {
    font-weight: bold;
}
.order-review .wc_payment_methods .payment_head input {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    accent-color: var(--wp--preset--color--primary);
    cursor: pointer;
}
.order-review .wc_payment_methods .payment_box {
    background: var(--wp--preset--color--light);
    border-radius: 0 .6rem .6rem .6rem;
    padding: .1rem 1.5rem;
    margin: .6rem 0;
    position: relative;
}
.order-review .wc_payment_methods .payment_box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    background: var(--wp--preset--color--light);
    transform-origin: 0 0;
    transform: rotate(-45deg);
}
.order-review .iu-button {
    width: 100%;
    cursor: pointer;
}

/*.iu-woocommerce-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: -2;
}
.iu-woocommerce-modal.iu-woocommerce-modal-show {
    display: block;
    z-index: 9999999999;
    visibility: visible;
}
.iu-woocommerce-modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .3s;
}
.iu-woocommerce-modal-show .iu-woocommerce-modal-bg {
    opacity: 1;
}
.iu-woocommerce-modal-dialog {
    position: absolute;
    top: 10vh;
    left: calc((100% - 51rem) / 2);
    width: 51rem;
    background: white;
    padding: 2.4rem;
    box-shadow: 0 .6rem 3rem rgba(0,0,0,.3);
    transform: translateY(3rem);
    opacity: 0;
    transition: opacity .3s, transform .3s;
}
.iu-woocommerce-modal-show .iu-woocommerce-modal-dialog {
    transform: none;
    opacity: 1;
}
.iu-woocommerce-modal-dialog .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--wp--preset--color--primary);
    transition: color .15s;

    &:hover {
        color: var(--wp--preset--color--green);
    }
}
.iu-woocommerce-modal-dialog .iu-woocommerce-modal-header {
    text-align: center;
}
.iu-woocommerce-modal-dialog .iu-woocommerce-modal-header h2 {
    margin-top: 1.5rem;
}
.iu-woocommerce-modal-content {
    padding: 1.5rem 0;
}
.iu-woocommerce-modal-content .iu-woocommerce-modal-product {
    margin: 0 auto 1.5rem;
    text-align: center;
}
.iu-woocommerce-modal-content .iu-woocommerce-modal-product a {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    text-align: left;
}
.iu-woocommerce-modal-content .iu-woocommerce-modal-product a img {
    width: 6rem;
    height: 6rem;
}
.iu-woocommerce-modal-content .iu-woocommerce-modal-product a .product_title {
    font-size: 1.2rem;
    color: var(--iu-text-color);
}
.iu-woocommerce-modal-content .iu-woocommerce-modal-product a span.quantity {
    display: block;
    color: var(--iu-text-color);
}
.iu-woocommerce-modal-dialog .iu-woocommerce-modal-footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed var(--wp--preset--color--primary);
    padding-top: 1.5rem;
}
.iu-woocommerce-modal-dialog .iu-woocommerce-modal-footer a.back {
    cursor: pointer;
}*/


.pswp {
    z-index: 10000;
}

.iu-woocommerce-account .woocommerce {
    display: flex;
    gap: 2.1rem;
}
.woocommerce-MyAccount-navigation {
    width: 21%;
    padding-right: 1.8rem;
    border-right: 1px solid var(--iu-text-color);
}
.woocommerce-MyAccount-navigation ul {
    padding: 0;
}
.woocommerce-MyAccount-navigation li {
    display: block;
    margin-bottom: .6rem;
}
.woocommerce-MyAccount-navigation li a {
    font-family: var(--iu-heading-font-family);
    font-size: var(--iu-heading-5-font-size);
    color: var(--wp--preset--color--gray);
}
.woocommerce-MyAccount-navigation li.is-active a {
    color: var(--wp--preset--color--primary);
}
.woocommerce-MyAccount-navigation-link--customer-logout {
    margin-top: 1.8rem;
}
.woocommerce-MyAccount-content {
    flex: 1;
}

.woocommerce-MyAccount-content .iu-form fieldset {
    margin: 3rem 0 2.1rem;
    background: var(--wp--preset--color--light);
    border: 1px solid var(--wp--preset--color--light);
    padding: 2.1rem;
    border-radius: 1.5rem;
}

.woocommerce:has(.woocommerce-ResetPassword) {
    max-width: 45rem;
    margin: auto;   
    display: block;
}
.woocommerce-ResetPassword, .woocommerce-form-login, .woocommerce-form-register {
    border: 1px solid var(--iu-text-color);
    border-radius: 1.5rem;
    padding: 3rem;
}
:where(.woocommerce-form-login, .woocommerce-form-register) h3 {
    margin-top: 0;
}
.woocommerce .u-columns {
    display: flex;
    flex-wrap: wrap;
    gap: var(--iu-column-gap);
}
.woocommerce .u-columns > * {
    flex: 1;
}
.woocommerce .password-input {
    position: relative;
    display: block;
}
.woocommerce .password-input button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}
.woocommerce .password-input button:before {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 32 32"><path fill="currentColor" d="m20.525 21.94l7.768 7.767a1 1 0 0 0 1.414-1.414l-26-26a1 1 0 1 0-1.414 1.414l5.19 5.19c-3.99 3.15-5.424 7.75-5.444 7.823c-.16.53.14 1.08.67 1.24s1.09-.14 1.25-.67c.073-.254 1.358-4.323 4.926-6.99l3.175 3.175a6 6 0 1 0 8.465 8.465m-1.419-1.42a4 4 0 1 1-5.627-5.627zm-3.553-8.504l2.633 2.634c.464.303.86.7 1.164 1.163l2.634 2.634q.015-.222.016-.447a6 6 0 0 0-6.447-5.984M10.59 7.053L12.135 8.6a12.2 12.2 0 0 1 3.861-.6c9.105 0 11.915 8.903 12.038 9.29c.13.43.53.71.96.71v-.01a.993.993 0 0 0 .96-1.28C29.923 16.61 26.613 6 15.995 6c-2.07 0-3.862.403-5.406 1.053"/></svg>');
    background-size: contain;
    background-position: center;
}
.woocommerce .password-input button.display-password:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 32 32"><path fill="currentColor" d="M28.034 17.29c.13.43.53.71.96.71v-.01a.993.993 0 0 0 .96-1.28C29.923 16.61 26.613 6 15.995 6S2.07 16.61 2.04 16.72c-.16.53.14 1.08.67 1.24c.53.16 1.09-.14 1.25-.67C4.07 16.91 6.89 8 15.997 8c9.104 0 11.915 8.903 12.037 9.29ZM12 18a4 4 0 1 1 8 0a4 4 0 0 1-8 0Zm4-6a6 6 0 1 0 0 12a6 6 0 0 0 0-12Z"/></svg>');
}
.woocommerce-LostPassword {
    margin-top: 2.1rem;
}

.iu-woocommerce-account table {
    width: 100%;
    border: 1px solid var(--iu-text-color);
    border-radius: 1rem;
    border-spacing: 0;
}
.iu-woocommerce-account thead th {
    border-bottom: 1px solid var(--iu-text-color);
    text-align: left;
    padding: 1.5rem .6rem;
}
.iu-woocommerce-account table td, .iu-woocommerce-account table th {
    padding: 1rem .6rem;
    text-align: left;
}
.iu-woocommerce-account table th:first-child,
.iu-woocommerce-account table td:first-child {
    padding-left: 2.1rem;
}
.iu-woocommerce-account table th:last-child,
.iu-woocommerce-account table td:last-child {
    padding-right: 2.1rem;
}
.iu-woocommerce-account table tr:not(:last-child) td {
    border-bottom: 1px solid var(--iu-text-color);
}

.woocommerce-Address, .woocommerce-columns--addresses .woocommerce-column {
    border-radius: 1.8rem;
    border: 1px solid var(--iu-text-color);
    padding: 2.1rem;
}
.woocommerce-Address h2, .woocommerce-columns--addresses .woocommerce-column h2, .woocommerce-order-details__title {
    font-size: var(--iu-heading-3-font-size);
    margin-top: 0;
}
.woocommerce-Address a:has(+ address) {
    display: block;
    margin-bottom: 1.5rem;
}

.woocommerce-columns--addresses {
    display: flex;
    flex-wrap: wrap;
    gap: var(--iu-column-gap);
    margin-top: var(--iu-column-gap);
}
.woocommerce-columns--addresses > * {
    flex: 1;
}

.woocommerce:has(.wc-empty-cart-message){
    display: block;
    text-align: center;
}

p:has(+ .woocommerce-order-details) {
    margin-top: -3rem;
    margin-bottom: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}
p:has(+ .woocommerce-order-details) .iu-woocommerce-badge {
    background: var(--iu-text-color);
}
p:has(+ .woocommerce-order-details) .iu-woocommerce-badge.order-status {
    background: var(--wp--preset--color--primary);
}
.woocommerce-order-details {
    border: 1px solid var(--iu-text-color);
    border-radius: 1.8rem;
    padding: 2.1rem;
}
.woocommerce-order-details table {
    border: none;
    border-spacing: 0;
    width: 100%;
}
.woocommerce-order-details table thead {
    display: none;
}
.woocommerce-order-details table th,
.woocommerce-order-details table td {
    padding: 1rem .6rem;
    text-align: left;
}
.woocommerce-order-details table th:first-child,
.woocommerce-order-details table td:first-child {
    padding-left: 0;
    width: 50%;
}
.woocommerce-order-details table th:last-child,
.woocommerce-order-details table td:last-child {
    padding-right: 0;
}
.woocommerce-order-details table tr:not(:last-child) th,
.woocommerce-order-details table tr:not(:last-child) td {
    border: none;
}
.woocommerce-order-details table tbody td {
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.woocommerce-order-details tbody tr:last-child th,
.woocommerce-order-details tbody tr:last-child td {
    padding-bottom: 1.5rem;
}
.woocommerce-order-details table tfoot tr:first-child > *, .woocommerce-order-details table tfoot tr:nth-last-of-type(2) > * {
    border-top: 1px solid var(--iu-text-color);
    border-bottom: 1px solid var(--iu-text-color);
}
.woocommerce-order-details table tfoot tr:nth-last-of-type(2) .woocommerce-Price-amount {
    font-weight: bold;
    font-size: 1.62rem;
}

h3:has(> .dashicons) {
    display: flex;
    align-items: center;
    gap: .9rem;
}
h3 > span.dashicons {
    font-size: 3.6rem;
}

.iu-woocommerce-checkout .woocommerce-order {
    max-width: 33rem;
    margin: auto;
    text-align: center;
}
.iu-woocommerce-checkout .woocommerce-order h3 {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1.8rem;
}
.iu-woocommerce-checkout .woocommerce-order .iu-button {
    margin-top: .9rem;
}

@media (max-width: 991.8px){

    .woocommerce[class*=columns] {
        justify-content: center;
    }
    .woocommerce > .products.columns-2 > .product,
    .woocommerce > .products.columns-3 > .product,
    .woocommerce > .products.columns-4 > .product {
        width: 100%;
    }

    .iu-column:has(.iu-woocommerce-product-filter) {
        order: 9;
        border: 1px solid var(--iu-text-color);
        border-radius: 1.5rem;
        padding: 2.1rem;
        margin-top: 6rem;
    }
    .woocommerce-result-count {
        margin: 0 0 .3rem;
    }
    .woocommerce-ordering {
        margin-bottom: 1.5rem;
    }

    .woocommerce-cart-form table,
    .woocommerce-cart-form tbody, 
    .woocommerce-cart-form tr,
    .woocommerce-cart-form th,
    .woocommerce-cart-form td {
        display: block;
    }
    .woocommerce-cart-form table {
        border: none;
    }
    .woocommerce-cart-form thead {
        display: none;
    }
    .woocommerce-cart-form tr {
        display: flex;
        flex-wrap: wrap;
        padding: .9rem .9rem .3rem;
        position: relative;
        border: 1px solid var(--iu-text-color);
        border-radius: 1rem;
    }
    .woocommerce-cart-form tr:not(:last-child) {
        margin-bottom: .9rem;
    }
    .woocommerce-cart-form td {
        padding: 0;
        width: 100%;
        text-align: center;
        border: none;
    }
    .woocommerce-cart-form tbody tr:not(:last-child) td {
        border: none;
    }
    .woocommerce-cart-form tbody td.product-thumbnail {
        width: 100%;
        padding: 0;
    }
    .woocommerce-cart-form tbody td.product-thumbnail img {
        width: 100%;
        height: auto;
    }
    .woocommerce-cart-form tbody td.product-name {
        width: 100%;
        padding: .9rem 0;
    }
    .woocommerce-cart-form tbody td.product-name a {
        font-size: var(--iu-heading-4-font-size);
    }
    .woocommerce-cart-form tbody td.product-price,
    .woocommerce-cart-form tbody td.product-quantity {
        width: 50%;
        padding: .9rem .3rem;
    }
    .woocommerce-cart-form tbody tr.cart_item td.product-subtotal {
        border-top: 1px solid var(--iu-text-color);
        margin-top: .6rem;
    }
    .woocommerce-cart-form tbody .cart_item td.product-remove {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: unset;
        width: 1.5rem;
        height: 1.5rem;
        background: darkred;
        border-radius: 50%;
        padding: 0;
    }
    .woocommerce-cart-form tbody .cart_item td.product-remove a {
        color: var(--wp--preset--color--white);
    }
    .woocommerce-cart-form td strong {
        margin-bottom: .3rem;
    }
    .woocommerce-cart-form tbody td .woocommerce-Price-amount {
        margin-top: .6rem;
        display: block;
    }
    .woocommerce-cart-form .actions {
        flex-direction: column-reverse;
    }
    .woocommerce-cart-form .actions .coupon {
        padding: .9rem;
        border: 1px solid var(--iu-text-color);
        border-radius: 1.2rem;
        margin-top: 2.1rem;
    }

    .iu-woocommerce-coupon-form, .woocommerce-form-login-toggle {
        padding-left: .9rem;
        padding-right: .9rem;
    }

    :where(.woocommerce-billing-fields__field-wrapper, .woocommerce-shipping-fields__field-wrapper) p.form-row {
        width: 100%;
    }
    #billing_address_2_field, #shipping_address_2_field {
        padding: 0;
    }
    #ship-to-different-address {
        font-size: 2.4rem;
    }

    .iu-woocommerce-account .woocommerce {
        flex-direction: column;
    }
    .woocommerce-MyAccount-navigation {
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--iu-text-color);
        padding-bottom: 2.1rem;
        margin-bottom: 2.1rem;
    }
    h2:has(~ .woocommerce-order-details) {
        line-height: .9;
    }
    p:has(+ .woocommerce-order-details) {
        margin-top: -2.1rem;
    }

    .woocommerce-orders-table thead {
        display: none;
    }
    .woocommerce-orders-table,
    .woocommerce-orders-table tbody,
    .woocommerce-orders-table tr,
    .woocommerce-orders-table th, 
    .woocommerce-orders-table td {
        display: block;
    }
    .woocommerce-orders-table tr {
        padding: .9rem 2.1rem;
    }
    .woocommerce-orders-table td,
    .woocommerce-orders-table th {
        padding: .6rem 0 !important;
    }

}